/* Sidebar */
.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-size: 18px;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Conteúdo Principal */
main {
    margin-left: 250px;
    padding: 20px;
}
