:root {
    --primary-color: #00A2C6; /* Azul padrão */
    --primary-dark: #004A5A;  /* Tom mais escuro para contrastes */
    --text-light: #ffffff;  /* Cor branca para textos em fundo azul */
}

.breadcrumb {
    background: none; /* Remove fundo branco */
    font-size: 16px;
    padding: 10px 0;
}

.breadcrumb-item a {
    color: var(--primary-color); /* Usa a cor azul padrão */
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}


/* Aplicando a cor padrão nos botões */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-dark);
    color: var(--text-light);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

/* Aplicando a cor no menu lateral */
.sidebar {
    background-color: var(--primary-dark);
}

.sidebar .nav-link {
    color: var(--text-light);
}

.sidebar .nav-link:hover {
    background-color: var(--primary-color);
}

.btn-success {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-dark) !important;
}

.btn-success:hover {
    background-color: var(--primary-dark) !important;
}

/* Padrão de letras */

/* Uniformidade do projeto - Todos os inputs (exceto senha e email) ficam automaticamente em maiúsculas */
input:not([type="password"]):not([type="email"]),
textarea {
    text-transform: uppercase;
}

